body{
    border: 0px;
}
form{
   
    
    margin-right: 15px;



}

.wjethr{
    padding: 30px;
    width: 100%;
    
    border-radius: 15px;
    background-color: beige;
    
}
#shyejtuyj{
    
    background-color: burlywood;
}
#angitub{
    
    background-color: aquamarine;
}