header{
    margin: 20px;
    padding: 30px;
}
nav{
    color: blue;
    
}
main{
    margin: 20px;
     padding: 30px;
}
footer{
    margin: 30px;
    padding: 20px;
    color: grey;
    background-color: #CC2345;
}
